.App {
  text-align: center;
  margin-top: 200px;
  margin-left: 40%;
  margin-bottom: 100px;
}
button {
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  font-size: large;
}

.mainDiv {
  text-align: left;
}
.mainDiv h1 {
  background-color: white;
}
.lists {
  margin-left: 50px;
}
.red button {
  background-color: red;
}
/* .red {
  background-color: red;
} */

.colorSkyBlue button {
  background-color: skyBlue;
}

.silver button {
  background-color: silver;
}
.golden button {
  background-color: goldenrod;
}
.purple button {
  background-color: purple;
}
.pink button {
  background-color: pink;
}
.orange button {
  background-color: orange;
}

.green button {
  background-color: green;
}
button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
}
.flex {
  display: flex;
}
h1 {
  margin-left: 10px;
  background-color: goldenrod;
  text-align: left;
  width: fit-content;
  padding: 20px;
}
